html,
body {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, "Cormorant Garamond", serif;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

$inputBackgroundColor: rgba(255, 255, 255, 0.2);
$smWeight: 1.9rem;
$mdWeight: 2rem;
$lgWeight: 3rem;

#submit-fg {
    display: flex;
    justify-content: center;
    input[type="submit"] {
        // grid-column: 2;

        // width: 60%;
        // margin-top: 1rem;
    }
}
